* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    /* padding: 20px; */
}

.border {
    /* background-color: bisque; */
    /* aspect-ratio: 2/1; */
    width: 100%;
    border: 2px solid gray;
}

.banner {
    background-color: aqua;
    min-height: 100px;
}

.photo {
    height: 100px;
    position: relative;
    top: 50px; left: 20px;
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: aliceblue;
    padding-left: 20px;
    padding-top: 60px;
    padding-bottom: 20px;
    /* margin-bottom: 30px; */
    /* height: 319px; */
}

.marker {
    height: 15px;
}

.gear {
    height: 15px;
}

